PyCity School Analysis

In [1089]:
#Loading modules into the program 
import pandas as pd 
from pathlib import Path

# File to Load 
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

#Read file as csv into program 
school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset using left join merge and school name as the key
school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [1090]:
#Total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [1091]:
# Calculating the total number of students
student_count = len(school_data_complete)
student_count

39170

In [1092]:
# Calculate the total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [1093]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [1094]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [1095]:
#Filters data set to only select rows with 70 or higher scores in math and counts the number of students/rows with that grade
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
#Calcaultes the percentage of students that passed math 
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [1096]:
#Filters data set to only select rows with 70 or higher scores in reading and counts the number of students/rows with that grade
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
#Calcaultes the percentage of students that passed math 
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [1097]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [1098]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
                    "Total number of unique schools": [school_count],
                    "Total Students": [student_count],
                    "Total Budget": [total_budget],
                    "Average Math Score": [average_math_score], 
                    "Average Reading Score": [average_reading_score],
                    "% Passing Math": [passing_math_percentage],
                    "% Passing Reading": [passing_reading_percentage],
                    "% Overall passing": [overall_passing_rate]
                    }
                    )

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total number of unique schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [1099]:
school_groupby = school_data_complete.groupby("school_name")
#select all of the school types
school_types = school_groupby["type"].first()
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [1100]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby("school_name")["student_name"].count()

In [1101]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby("school_name")["budget"].first()
per_school_capita = per_school_budget/per_school_counts

In [1102]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby("school_name")["math_score"].sum()/per_school_counts
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].sum()/per_school_counts

In [1103]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

In [1104]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

In [1105]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [1106]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [1107]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
                    "School Types": school_types,
                    "Total Students": per_school_counts,
                    "Total School Budget": per_school_budget, 
                    "Per Student Budget": per_school_capita,
                    "Average Math Score": per_school_math,
                   "Average Reading Score": per_school_reading,
                    "% Passing Math": per_school_passing_math,
                    "% Passing Reading": per_school_passing_reading,
                    "% Overall Passing": overall_passing_rate
                    }
                    )

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

pandas.core.series.Series